.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600rem;
}


.centerall {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.headerstyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: black;
    justify-content: space-between;
    justify-content: center;
    height: 5rem;
}

.space-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.whitetext {
    color: white;
}

.font-sz-l {
    font-size: large;
}

.removemargin {
    margin: 0;
}

.flex-ul {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.inline-li {
    display: inline-block;
    margin: 0 10px;
}